*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family:"Roboto Condensed", sans-serif ;
    font-size: 18px;
    font-weight: 600;
  }


:root{
    --main-color: #e62429;
    --second-color: #202020;
    --third-color: #c6a972;
    --fourth-color: #e8e8e8;
    --fifth-color: #151515;
    --bf-color: #1c1c1c;
    --inputs-color: #ff000729;
}
body.light-mode{
  --main-color: #c6a972;
  --second-color: #e8e8e8;
  --third-color: #c6a972;
  --fourth-color: #202020;
  --fifth-color: #fff;
  --bf-color: #e2e4e7;
  --inputs-color: #c6a97223;
}
body{
    background: var(--second-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10vh;
}
.hero span{
  background-image: url(../games/back3.jpg);
  background-position: center;
}


.all{
  width: 80%;
}
  .all .content{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
    /* .content .game{
      width: fit-content;
        width: auto;
        height: auto;
        text-decoration: none;
        display: contents;

    } */
    .game.show {
      display: block; 
      opacity: 1;
      scale: 1 ;
      translate: 0 0;
    }
    .game.hide {
      display: none; 
      opacity: 0;
      scale: 0 ;
      translate: 0 100px;
    }
  .all .content .game .game-img{
    position: relative;
    width: 100%;
}

  .all .content .game .game-img img{
    width: 100%;
    transition: 0.2s;
    cursor: pointer;
}

  .all .content .game {
    position: relative;
    width: 20%;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
    transition: 0.5s;
    transition-property: overlay display opacity scale translate;
    transition-duration: 1s;
    transition-behavior: allow-discrete;
    /* transform: scale(0); */
    opacity: 0;
    /* animation-name: card; */
    animation-timeline: view();
    animation-range: 100px 400px ;
    animation-fill-mode: forwards;
  }
  /* @keyframes card {
  to{ transform: scale(1); opacity: 1;}
  } */
  .all .content .game:hover img{
    transform: translateY(-10px);
    filter: grayscale(1) drop-shadow(0px 0px 5px var(--main-color));
}
  .all .content .game .name{
    color: var(--fourth-color);
    text-transform: capitalize;
    text-align: center;
    font-size: 20px;
    margin-top: 5%;
    font-weight: 600;
    transition: 0.5s;
}
  .all .content .game:hover .name{
    color: var(--third-color);
}


@media (max-width : 767px){
    .all .content {
        flex-direction: column;
        width: 100%;
    }
    .all .content .game {
        width: 90%;
    }
    .all .content .game .name {
      font-size: clamp(1rem, 7vw, 3rem);
    }
}
@media  (min-width:768px) and (max-width:1023px){
  .all .content {
      flex-direction: row;
      width: 100%;
      flex-wrap: wrap;
  }
  .all .content .game {
      width: 30%;
  }
  .all .content .game .name {
    font-size: clamp(1rem, 2vw, 3rem);
  }
}