*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family:"Roboto Condensed", sans-serif ;
    font-size: 18px;
    font-weight: 600;
}


:root{
    --main-color: #e62429;
    --second-color: #202020;
    --third-color: #c6a972;
    --fourth-color: #e8e8e8;
    --fifth-color: #151515;
    --bf-color: #1c1c1c;
    --inputs-color: #ff000729;
}
body.light-mode{
    --main-color: #c6a972;
    --second-color: #e8e8e8;
    --third-color: #c6a972;
    --fourth-color: #202020;
    --fifth-color: #fff;
    --bf-color: #e2e4e7;
    --inputs-color: #c6a97223;
    --title-color:#e8e8e8 ;

}
.arrow{
    fill: var(--main-color);
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    z-index: 999999999999;
    display: none;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10vh;
}

.hero{
    justify-content: center;
    align-items: flex-start;
    padding-left: 5%;
    flex-direction: column;
    gap: 15px;
    background-attachment: scroll;
}
.hero span{
    background-image: url(../main/home.jpg);
    background-position: center;
    filter: brightness(1);
}

.hero .des{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 15px;
    width: 50%;
    height: 50%;
}
.hero .des{
    animation-name: text;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: 1.5s ;
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
}
.hero .des .title{
    width: 60%;
    height: auto;
    font-size: 50px;
    color: var(--title-color);
    position: relative;
}

.hero .des p:nth-child(2){
    font-size: 18px;
    color: var(--title-color);
    font-weight: 600;
    width: 60%;
    line-height: 30px;
}

@keyframes text {
    from{
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    }
    to{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
}

.hero .des a{
    color: var(--title-color);
    width: 60%;
    text-align: center;
    animation-name: arrows;
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transform: translateY(0);
}
@keyframes arrows {
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(5px);
    }
}
.hero .des a i{
    font-size: 25px;
}



/* .gallery{
    background: var(--second-color);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: end;
}
.gallery .images{
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    width: 50%;
    height: 100px;
    justify-content: flex-start;
    align-items: center;
    }
.gallery .images img{
    width: auto;
    height: 100%;
    cursor: pointer;
}
.gallery .images::-webkit-scrollbar{
    height: 2px;
}
.gallery .screens{
overflow-x: scroll;
overflow-y: hidden;
}
.gallery .gaming{
overflow-x: scroll;
overflow-y: hidden;
} */


.banner{
    width: 100%;
    height: 60vh;
    background-image: url(../main/banner1.jpg);
    background-position: top;
    background-size: cover;
    /* background-attachment: fixed; */
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 40px;
    padding-left: 10%;
}
.banner p:nth-child(1){
    color: var(--title-color);
    text-transform: uppercase;
    font-size: 40px;
}
.banner p:nth-child(2){
    font-size: 20px;
    color: var(--title-color);
    text-transform: capitalize;
}
.banner a{
    text-transform: capitalize;
    text-decoration: none;
    font-size: 22px;
    padding: 10px 30px;
    position: relative;
    z-index: 1;
    color: var(--title-color);
    transition: .5s;
}
.banner a:hover{
    color: var(--main-color);
}
.banner a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    transform: skew(-35deg);
    z-index: -1;
    border-radius: 10px;
    transition: .5s;
}
.banner a:hover::before{
    background-color: var(--title-color);
}







.about{
    width: 80%;
    height: 100vh;
    padding-block: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-direction: column;
 }
.about .content{
    /* height: 70vh; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    /* gap: 20px; */
}

.about .content img{
    width: 35%;
    /* height: 100%; */
    transition: .5s;
}
.about .content img:hover{
    box-shadow: 0 0 20px var(--main-color);
}
.about .content .about-info{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 30px;
}
.about .content .about-info p:nth-child(1){
    text-transform: uppercase;
    color: var(--third-color);
    font-size: 40px;
}
.about .content .about-info p:nth-child(2){
    width: 100%;
    color: var(--fourth-color);
    flex-wrap: wrap;
}
.about .content .about-info a{
    text-transform: capitalize;
    text-decoration: none;
    font-size: 22px;
    padding: 10px 30px;
    position: relative;
    z-index: 1;
    color: var(--title-color);
    transition: .5s;
}
.about .content .about-info a:hover{
    color: var(--third-color);
}
.about .content .about-info a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--third-color);
    transform: skew(-35deg);
    z-index: -1;
    border-radius: 10px;
    transition: .5s;
}
.about .content .about-info a:hover::before{
    background-color: var(--title-color);
}

/* .about .content .about-info a:hover{
    background: var(--title-color);
    color: var(--second-color);
    border: 2px solid var(--main-color);
    transition: .5s;

}
.about .content .about-info a:hover::before{
    border: none;
    transition: .5s;

}
.about .content .about-info a:hover::after{
    border: none;
    transition: .5s;
} */

.contact-us{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.contact{
    padding: 0px 100px;
    width: 90%;
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10%;

    background: var(--fifth-color) ;
    margin-bottom: 20px;
}
.contact-us .contact img{
    width: 30%;
    margin-left: 10%;
    margin-bottom: 5%;
    border-radius: 10px;
    transition: .5s;
}
.contact-us .contact img:hover{
    box-shadow: 0 0 20px var(--main-color);

}
.contact-us .contact .form
{
    width: 40%;
    margin: 30px;
}

.contact-us .contact .form .inputBx{
    margin: 10px 0 ;
}
.contact-us .contact .form .inputBx p{
    color: var(--title-color);
    margin-bottom: 5px;
}

.contact-us .contact .form .inputBx input,
.contact-us .contact .form .inputBx textarea{
    border: none;
    outline: none;
    padding: 10px;
    width: 100%;
    color: var(--title-color);
    background: var(--inputs-color);
    min-height: 15px;
    font-size: 1.1em;
}
.contact-us .contact .form .inputBx textarea{
    height: 150px;
}

.contact-us .contact .form .send {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.contact-us .contact .form .copy {
    color: var(--title-color);
    width: fit-content;
    font-size: 20px;
    margin: 10px auto;
}
.contact-us .contact .form  .copy span{
    color: var(--main-color);
}

.contact-us .contact .send .send-btn{
    cursor: pointer;
    text-decoration: none;
    border: 2px solid var(--fifth-color);
    color: var(--title-color);
    padding: 10px 30px;
    position: relative;
    background: transparent;
    transition: .5s;
    font-weight: 600;
}
.contact-us .contact .send .send-btn::before{
    content: "";
    background: var(--fifth-color);
    border-left: 2px solid var(--title-color);
    width: 20px;
    height: 15px;
    position: absolute;
    bottom: -3px;
    right: -10px;
    transform: skew(127deg, 5deg);
    transition: .5s;

}
.contact-us .contact .send .send-btn::after{
    content: "";
    background: var(--fifth-color);
    border-right: 2px solid var(--title-color);
    width: 20px;
    height: 15px;
    position: absolute;
    top: -3px;
    left: -10px;
    transform: skew(127deg, 5deg);
    transition: .5s;

}
.contact-us .contact .send .send-btn:hover{
    background: var(--title-color);
    color: var(--fifth-color);
    border: 2px solid var(--main-color);
    transition: .5s;

}
.contact-us .contact .send .send-btn:hover::before{
    border: none;
    transition: .5s;

}
.contact-us .contact .send .send-btn:hover::after{
    border: none;
    transition: .5s;
}
.contact-us .contact .form .send .social{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-us .contact .form .send .social a{
    width: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--title-color);
    transition: .5s;
    transform: scale(1.5);

}
.contact-us .contact .form .send .social a:hover{
    color: var(--main-color);

}



/* .slider{
    width: 100%;
    height: var(--height);
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        transparent,
        #000 10% 90%,
        transparent
    );
    margin-block: 50px;
}
.slider .list{
    display: flex;
    width: 100%;
    min-width: calc(var(--width) * var(--quantity));
    position: relative;
}
.slider .list .item{
    width: var(--width);
    height: var(--height);
    position: absolute;
    left: 100%;
    animation: autoRun 20s linear infinite;
    transition: filter 0.5s;
    animation-delay: calc( (20s / var(--quantity)) * (var(--position) - 1) - 20s)!important;
}
.slider .list .item img{
    width: auto;
    height: 100%;
}
@keyframes autoRun{
    from{
        left: 100%;
    }to{
        left: calc(var(--width) * -1);
    }
} */